.gradient-title{
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(296deg, #FFD500 0.13%, #FFF1C4 99.63%);
}