@import "variable";
@import "btn";
@import "form";
@import "table";
@import "dialog";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// nucleo icon
@import "./nucleo/css/nucleo.css";
// icofont icon
@import "./icofont/icofont.min.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Pattaya&display=swap");

@font-face {
    font-family: 'YaleSolisW-Lt';
    font-style: normal;
    font-weight: 400;
    src: url("./yale-font/YaleSolisW-Lt/YaleSolisW-Lt.woff2") format("woff2"),
    url("./yale-font/YaleSolisW-Lt/YaleSolisW-Lt.woff") format("woff");
}

@font-face {
    font-family: 'YaleSolisW-Bd';
    font-style: normal;
    font-weight: 400;
    src: url("./yale-font/YaleSolisW-Bd/YaleSolisW-Bd.woff2") format("woff2"),
    url("./yale-font/YaleSolisW-Bd/YaleSolisW-Bd.woff") format("woff");
}

@font-face {
    font-family: 'YaleSolisW-Rg';
    font-style: normal;
    font-weight: 400;
    src: url("./yale-font/YaleSolisW-Rg/YaleSolisW-Rg.woff2") format("woff2"),
    url("./yale-font/YaleSolisW-Rg/YaleSolisW-Rg.woff") format("woff");
}

html,
body {
    touch-action: manipulation;
    overscroll-behavior-y: none;
    color: #2d2c2e;
}

body {
    // background-color: theme("colors.gray.50");
    font-family: "YaleSolisW-Rg", sans-serif;
    height: 100%;
}

input:focus,
textarea:focus {
    font-size: initial !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}
// 將小費輸入匡內文字靠右
#tip {
    text-align: right !important;
}

.disabled {
    @apply disabled:cursor-not-allowed disabled:bg-gray-300 disabled:opacity-70;
}

.btnDisabled {
    @apply disabled:cursor-not-allowed disabled:border-gray-300 disabled:bg-gray-300 disabled:text-white;
}

.NotoSansTCFont {
    font-family: "Noto Sans TC", sans-serif;
}
.OpenSansFont {
    font-family: "Open Sans", sans-serif;
}
.PattayaFont {
    font-family: "Pattaya", sans-serif;
}

.YaleSolisW-Bd {
    font-family: "YaleSolisW-Bd", "Noto Sans TC", Arial, Helvetica, sans-serif;
}
.YaleSolisW-Rg {
    font-family: "YaleSolisW-Rg", "Noto Sans TC", Arial, Helvetica, sans-serif;
}
.YaleSolisW-Lt {
    font-family: "YaleSolisW-Lt", "Noto Sans TC", Arial, Helvetica, sans-serif;
}


// 後台編輯區區塊
.edit-section {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
    }

    p {
        line-height: 2;
        margin-bottom: 1rem;
    }

    a {
        color: $main-color;
        text-decoration: underline;
    }

    ul {
        list-style: disc;
        padding-left: 1.5rem;

        li {
            line-height: 2;
        }
    }

    ol {
        list-style: decimal;
        padding-left: 1.5rem;

        li {
            line-height: 2;
        }
    }


    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-width: unset;
    }

    img {
        object-fit: cover;
        height: auto;
    }

    hr {
        @apply bg-gray-200 my-[24px] lg:my-[40px];
        margin-top: 40px;
        margin-bottom: 40px;
        opacity: 1;
    }
}